{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileInput">CSV file</label>
                        <input type="file" class="form-control-file" id="fileInput">
                    </div>
                    <button type="submit" class="btn btn-primary">Calculate results</button>
                </form>
            </div>
        </div>
        <br/>
        <div class="row">
            <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Results</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th rowspan="2">Position</th>
                    <th rowspan="2">Athlete</th>
                    <th rowspan="2">Total score</th>
                    <th colspan="10" class="text-center">Events</th>
                </tr>
                <tr>
                    <th>100 m</th>
                    <th>Long jump</th>
                    <th>Shot put</th>
                    <th>High jump</th>
                    <th>400 m</th>
                    <th>110 hurdles</th>
                    <th>Discus throw</th>
                    <th>Pole vault</th>
                    <th>Javelin throw</th>
                    <th>1500 m</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}